<div class="container">
    <p ng-if="!isAuthenticated">
        <oauth
                site="http://missingcontentcrawler-mtimmerman.rhcloud.com"
                client-id="missing-content-frontend-local"
                redirect-uri="http://localhost:9000"
                profile-uri="http://missingcontentcrawler-mtimmerman.rhcloud.com"
                scope="user_basic">
        </oauth>
    </p>

    <div class="token" ng-if="accessToken">
        with access token {{accessToken}}
    </div>
</div>